.playlistContainer {
    height: 100%;
    min-height: 90vh;
    color: white;
    flex-direction: row;
    display: flex;
}

.headphone, .searchContainer {
    display: flex;
    flex: 1;
    min-height: 450px;
    align-items: center;
    justify-content: space-evenly;
}

.explanation-container {
    font-family: Ubuntu;
    font-size: 35px;
    text-align: left;
    padding-left: 5px;
}

.contentSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.searchContainer {
    align-items: center;
    flex-direction: column;
}

.button-playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    width: 146px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    color: #4F79A4;
    font-weight: 700;
}

.icon-search-container {
    display: flex;
    align-items: center;
}

.button-playlist:hover {
    background-color: black;
    color: #fff;
}

.headphone {
    background: url(../../assets/Headphone-amico.svg) no-repeat center;
}

.button-playlist:active {
    transform: translateY(14px);
}

@media (max-width:768px) {
    .playlistContainer {
        flex-direction: column-reverse;
    }
    .searchContainer .explanation-container {
        font-size: 1.5em;
    }
    .searchContainer .explanation-container p {
        text-align: center;
        padding: 20px 20px 0 0;
    }
    .headphone {
        flex: 2;
        min-height: 250px;
    }
    .searchFieldContainer .inp-field, .searchFieldContainer .icon-search-container {
        min-height: 60px;
        height: 100%;
    }
    .button-playlist {
        margin-top: 10px;
    }
    .searchFieldContainer {
        margin-top: 10px;
    }
}

@media (max-height:500px) {
    .wrapper{
        margin-top: 20px;
    }
}