* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, input, button {
  font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}